CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode/
build/
build_win/
*.png
*.jpg
*.jpeg

bin/
lib/
TODO

test/.vscode
test/bin
test/build
test/CMakeFiles
test/GUI
test/src
test/cmake_install.cmake
test/CMakeCache.txt
test/Makefile.txt

test.cpp

